<div class="layui-form" lay-filter="layuiadmin-form-task-add" style="padding: 20px;">
    <div class="layui-form-item">
		<label class="layui-form-label">任务名称:</label>
		<div class="layui-input-inline" >
			<input type="text" id="name_task" name="name" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
		</div>
		
	</div>
    <div class="layui-form-item" style="display: none;">
		<label class="layui-form-label"></label>
		<div class="layui-input-inline">
			<input type="button" id="task_add" lay-submit lay-filter="LAY-user-front-task-add-submit" value="提交" class="layui-btn">
		</div>
	</div>
</div>