<div class="layui-form" lay-filter="layuiadmin-form-task-upload" style="padding: 20px;">
  <div class="layui-upload">
    <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button>
    <div class="layui-upload-list" style="max-width: 1000px;">
      <table class="layui-table">
        <colgroup>
          <col>
          <col width="150">
          <col width="260">
          <col width="150">
        </colgroup>
        <thead>
          <tr>
            <th>文件名</th>
            <th>大小</th>
            <th>上传进度</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="demoList"></tbody>
      </table>
    </div>
    <button type="button" class="layui-btn" id="testListAction">开始上传</button>
  </div>
</div>