<div class="layui-form" lay-filter="layuiadmin-form-bot-edit" style="padding: 20px 0 0 0;">
	

	<div class="layui-form-item">
		<label class="layui-form-label">名称:</label>
		<div class="layui-input-inline">
			<input type="text" id="name" name="name" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">场景:</label>
		<div class="layui-input-inline" >
			<input type="text" id="scene" name="scene" lay-verify="required" autocomplete="off" placeholder="请输入" class="layui-input">
		</div>
		
	</div>

	<div class="layui-form-item" style="display: none;">
		<label class="layui-form-label"></label>
		<div class="layui-input-inline">
			<input type="button" id="bot_edit" lay-submit lay-filter="LAY-user-front-bot-edit-submit" value="提交" class="layui-btn">
		</div>
	</div>
</div>
<style>
		
		
		.layui-layer-content {
			overflow: visible !important;
		}
	</style>