<div class="layui-form" lay-filter="layuiadmin-form-backlistadd" style="padding: 0px 0 0 0;">
	
	
	
	<div class="layui-form-item">
		<label class="layui-form-label">号码:</label>
		<div class="layui-input-inline">
			<input type="text" id="telephone" name="telephone" lay-verify="required" autocomplete="off" placeholder="请输入号码" class="layui-input">
		</div>
		<div class="layui-input-inline">
			<span id="existname"></span>
		</div>
	</div>
	
	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">备注:</label>
		<div class="layui-input-block">
			<textarea id="remark" name="remark" placeholder="请输入内容" class="layui-textarea" style="width: 350px;"></textarea>
		</div>
	</div>

	<div class="layui-form-item" style="display: none;">
		<label class="layui-form-label"></label>
		<div class="layui-input-inline">
			<input type="button" id="blacklist-add" lay-submit lay-filter="LAY-backlistadd-front-submit" value="提交" class="layui-btn">
		</div>
	</div>

	
</div>
