<div class="layui-form" lay-filter="layuiadmin-form-project_task_add" style="padding: 0px 0 0 0;">
	

	<div class="layui-form-item">
		<label class="layui-form-label">执行项目:</label>
		<div class="layui-input-inline">
			<select id="project_id" name="project_id" lay-verify="required" lay-filter="aihao" style="width: 50px;">

			</select>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">任务名称:</label>
		<div class="layui-input-inline" >
			<input type="text" id="name_task" name="name" lay-verify="required|exist_projectTaskName" autocomplete="off" placeholder="请输入" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">定时计划:</label>
		<div class="layui-input-inline" style="width: 400px;">
			<select id="timer" name="timer">

			</select>
		</div>
	</div>
	

	<div class="layui-form-item" style="display: none;">
		<label class="layui-form-label"></label>
		<div class="layui-input-inline">
			<input type="button" id="project_task_add" lay-submit lay-filter="LAY-user-front-project_task-submit" value="提交" class="layui-btn">
		</div>
	</div>
</div>
<style>
    .layui-layer-content {
        overflow: visible !important;
    }
</style>

<script>
	$(function() {
				admin.req({ //执行项目下拉列表
					type: "POST",
					url: layui.setter.configUrl + "admin/project/list",
					dataType: 'json',
					success: function(res) {
						var result = res.data;
						$("#project_id").append("<option value=''>--请选择--</option>");
						for(var i = 0; i < result.length; i++) {
							$("#project_id").append("<option value=" + result[i].id + ">" + result[i].name + "</option>");
						}
						layui.form.render("select");
					}
				});
	})
	

</script>