<div class="layui-form layui-layout-admin" lay-filter="layuiadmin-form-project_task_timer" style="padding: 20px 20px 0 0;">
    

    <div class="layui-form-item">
        <label class="layui-form-label">重复周期</label>
        <div class="layui-input-inline" style="width: 360px;">
            <div id="weekDays" class="xm-select-demo"></div>

        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">呼叫时段</label>
            <div class="layui-input-inline">
                <button type="button" onclick="addnode(0,1)"
                    class="layui-btn layui-btn-primary layui-btn-sm">添加时段</button>
            </div>
        </div>

    </div>
    <div id="nodes">

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" id="project_task_timer" lay-submit
                lay-filter="LAY-user-front-project_task-timer-submit" value="提交" class="layui-btn">
        </div>
    </div>
</div>
<style>
    .layui-layer-content {
        overflow: visible !important;
    }
    .layui-laydate .layui-laydate-list>li{
        width: 50% !important;
    }
    .layui-laydate-list>li:last-child {
        display: none;
    }
    .layui-laydate .layui-laydate-main {
        width: 210px !important;
    }
    .layui-laydate-range {
        width: 422px;
    }
</style>
<script type="text/javascript">
    var timerId = 0;
    var laydate;
    var xmSelect;
    layui.use(['laydate', 'form', 'xmSelect'], function () {
        laydate = layui.laydate;
        var $ = layui.$;
        var form = layui.form;
        xmSelect = layui.xmSelect;
        //时间范围
        laydate.render({
            elem: '#time',
            type: 'time',
            range: true
        });


    })

    function days(p) {

        var data = [{
            name: '周一',
            value: 2
        },
        {
            name: '周二',
            value: 3
        },
        {
            name: '周三',
            value: 4
        },
        {
            name: '周四',
            value: 5
        },
        {
            name: '周五',
            value: 6
        },
        {
            name: '周六',
            value: 7
        },
        {
            name: '周日',
            value: 1
        },
        ];
        xmSelect.render({
            el: '#weekDays',
            toolbar: {
                show: true,
            },
            name: 'weekDays',
            initValue: p,
            //layVerify: 'required',
            layVerType: 'tips',
            autoRow: true,
            tips: "请选择工作日",
            data: data
        })

    }

    function addnode(flag, ti) {
        timerId++;
        if (flag == 0) {
            $("#nodes").append(
                '<div class="layui-form-item"><div class="layui-inline"><label class="layui-form-label"></label><div class="layui-input-inline" ><input type="text" id="timer' +
                timerId +
                '" autocomplete="off" value="07:00 - 19:59" class="layui-input" placeholder=" - "></div></div><button type="button" onclick="$(this).parent().remove();" class="layui-btn layui-btn-xs layui-btn-danger">删除</button></div>'
            );
            //form.render();
        } else {
            $("#nodes").append(
                '<div class="layui-form-item"><div class="layui-inline"><label class="layui-form-label"></label><div class="layui-input-inline" ><input type="text" id="timer' +
                timerId + '" value="' + ti + '" autocomplete="off" class="layui-input" placeholder=" - "></div></div><button type="button" onclick="$(this).parent().remove();" class="layui-btn layui-btn-xs layui-btn-danger">删除</button></div>'
            );
        }
        //时间范围
        laydate.render({
            elem: '#timer' + timerId,
            type: 'time',
            range: true,
            format: 'HH:mm',
            min: '07:00:00'
            , max: '20:59:59'
            , btns: ['clear', 'confirm']
        });
    }

    function taskInfo(list, tid) {
        $("#task_name_timer").empty();
            $("#task_name_timer").append("<option value=''>请选择任务</option>");
            for (var i = 0; i < list.length; i++) {
                $("#task_name_timer").append("<option value=" + list[i].id + ">" + list[i]
                    .task_name + "</option>");
            }
            $("#task_name_timer").val(tid);
            layui.form.render("select");
    }
</script>