<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>

</head>

<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                lay-filter="layadmin-userfront-formlist-cdr_record">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">时间</label>
                        <div class="layui-input-inline" style="width: 350px;">
                            <input type="text" class="layui-input" id="newDateStamp" placeholder=" ~ "
                                autocomplete="off" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">审核状态</label>
                        <div class="layui-input-inline">
                            <select id="markers" name="markers">
                                <option value="">请选择</option>
                                <option value="1">已读</option>
                                <option value="0">未读</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">发送状态</label>
                        <div class="layui-input-inline">
                            <select id="state" name="state">
                                <option value="">请选择</option>
                                <option value="1">成功</option>
                                <option value="0">失败</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">微信名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="wechatName" autocomplete="off" placeholder="请输入微信名称"
                                class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline" id="cdr_record_jobNumber_div" style="display: none;">
                        <label class="layui-form-label">工号</label>
                        <div class="layui-input-inline">
                            <input type="text" id="jobNumber" name="jobNumber" autocomplete="off" placeholder="请输入工号"
                                class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">号码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="telephone" autocomplete="off" placeholder="请输入号码"
                                class="layui-input">
                        </div>
                    </div>

                    <div class="layui-btn-group" style="float: right;">
                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit
                            lay-filter="LAY-user-front-search-cdr_record">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
                        </button>
                        <button id="cdr_record_remove_div" style="display: none;" class="layui-btn layuiadmin-btn-primary layuiadmin-btn-useradmin  layui-btn-danger"
                            title="删除" data-type="batchdel"> <i
                                class="layui-icon layui-icon-delete layuiadmin-button-btn"></i></button>
                    </div>

                </div>

            </div>

            <div class="layui-card-body">

                <table id="LAY-user-manage-cdr_record" lay-filter="LAY-user-manage-cdr_record"></table>
            </div>
        </div>
    </div>

</body>
<style>

    .layui-table-cell {
        height: 50px;
        /* 设置行高为50px */
        line-height: 55px;
    }

    .layui-laydate-range {
        width: 547px;
    }
</style>
<script src="/start/js/publicmethod.js"></script>
<script>
    layui.use(['admin', 'table', 'util', 'laydate'], function () {
        var table = layui.table;
        form = layui.form;
        var $ = layui.$;
        view = layui.view;
        admin = layui.admin;
        setter = layui.setter;
        router = layui.router(),
            search = router.search;
        util = layui.util;
        let laydate = layui.laydate;

        // if(layui.data('layuiAdmin')[window.sessionStorage.getItem("name")]['role']!='agent'){
        //     $("#cdr_record_jobNumber_div").show();
        //     $("#cdr_record_remove_div").show();
            
        // }else{
        //     $("#jobNumber").val(window.sessionStorage.getItem("name"));
        // }

        // var date = new Date();
        // let newEndTime = formatDateToString(date);
        // date.setHours(date.getHours() - 1);
        // let newStartTime = formatDateToString(date);
        // laydate.render({
        // 	elem: '#newDateStamp',
        // 	type: 'datetime',
        // 	value: newStartTime + " ~ " + newEndTime,
        // 	range: "~"
        // });

        var date = new Date();
		var year = date.getFullYear();
		var month = date.getMonth() + 1;
		if (month < 10)
			month = "0" + month;
		var day = date.getDate();
		if (day < 10)
			day = "0" + day;
		var timestamp = year + "-" + month + "-" + day;
        laydate.render({
            elem: '#newDateStamp'
            , type: 'datetime'
            ,value: timestamp +" 00:00:00" + " ~ " + timestamp +" 23:59:59"
            , range: "~"
        });

        table.render({
            method: 'post',
            elem: '#LAY-user-manage-cdr_record',
            url: layui.setter.configUrl + 'admin/wechat/getRecordPage',
            where: {
                startTime:timestamp +" 00:00:00",
                endTime: timestamp +" 23:59:59",
                jobNumber:  $("#jobNumber").val()
            },
            height: 'full-180',
            cellMinHeight: 100,
            escape: true,
            cols: [
                [{
                    title: '微信头像',
                    align: 'center',
                    minWidth: 80,
                    templet: function (d) {
                        if (d.userInfo != null && d.userInfo != "") {
                            var userInfo = JSON.parse(d.userInfo);
                            if (userInfo.hasOwnProperty("headimgurl")) {
                                return '<img style="width:50px;height:50px;" src="' + userInfo.headimgurl + '" />';
                            }
                        }
                        return "";
                    }
                }, {
                    field: 'consumes',
                    title: '微信名称',
                    align: 'center',
                    minWidth: 100,
                    templet: function (d) {
                        if (d.userInfo != null && d.userInfo != "") {
                            var userInfo = JSON.parse(d.userInfo);
                            if (userInfo.hasOwnProperty("nickname")) {
                                return userInfo.nickname;
                            }
                        }
                        return "";
                    }
                }, {
                    field: 'jobNumber',
                    title: '工号',
                    align: 'center',
                    minWidth: 100
                }, {
                    title: '号码',
                    align: 'center',
                    minWidth: 180,
                    templet: function (d) {
                        var info = JSON.parse(d.argument);
                        return info.telephone;
                    }
                },{
                    field: 'createTime',
                    title: '推送时间',
                    align: 'center',
                    minWidth: 180
                }, {
                    title: '发送状态',
                    align: 'center',
                    minWidth: 95,
                    templet: function (d) {
                        if (d.state == 1) {
                            return '<span style="color: #87d068;">成功</span>';
                        } else {
                            return '<span style="color: #f45e5e;">失败</span>';
                        }
                    }
                }, {
                    title: '错误代码',
                    align: 'center',
                    minWidth: 140,
                    templet: function (d) {
                        if (d.errorCode == -1) {
                            return '<span style="color: #f45e5e;">未关注</span>';
                        } else if (d.errorCode == -2) {
                            return '<span style="color: #85888e;">未允许</span>';
                        }else if(d.errorCode==0){
                            return '<span style="color: green;">成功</span>';
                        }
                        else {
                            return '<span style="color: #e29835;">未签入</span>';
                        }
                    }
                }, {
                    title: '审核状态',
                    align: 'center',
                    minWidth: 150,
                    templet: function (d) {
                        if (d.markers == 1) {
                            return '<span style="color: #87d068;">已读</span>';
                        }
                        else {
                            return '<span style="color: #85888e;">未读</span>';
                        }
                    }
                }, {
                    field: 'description',
                    title: '状态描述',
                    align: 'center',
                    minWidth: 150
                }, {
                    field: 'fileId',
                    title: '文件Id',
                    align: 'center',
                    minWidth: 200
                }]
            ]

            ,
            // done: function (res, curr, count) {
            // 	$(".layui-table-main tr").each(function (index, val) {
            // 		$($(".layui-table-fixed .layui-table-body tbody tr")[index]).height($(val).height());
            // 	});
            // },
            page: true
        });
        form.render(null, 'layadmin-userfront-formlist-cdr_record');

        //监听搜索
        form.on('submit(LAY-user-front-search-cdr_record)', function (data) {
            var field = data.field;
            field.startTime = $('#newDateStamp').val().split(" ~ ")[0];
			field.endTime = $('#newDateStamp').val().split(" ~ ")[1];
            //执行重载
            table.reload('LAY-user-manage-cdr_record', {
                where: field,
                page: {
                    curr: 1
                }
            });
        });

    });
</script>

</html>