<title>设置我的密码</title>

<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<a lay-href="">主页</a>
		<a><cite>我的密码</cite></a>
	</div>
</div>

<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header">修改密码</div>
				<div class="layui-card-body" pad15>

					<div class="layui-form" lay-filter="">
						<div class="layui-input-inline">

							<div class="layui-form-item">
								<label class="layui-form-label">当前密码</label>
								<div class="layui-input-inline">
									<input type="password" name="oldPass" lay-verify="required" lay-verType="tips" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">新密码</label>
								<div class="layui-input-inline">
									<input type="password" name="newPass" lay-verify="required|pass|rePassLength" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
								</div>
								<div class="layui-form-mid layui-word-aux">8到16个字符</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">确认新密码</label>
								<div class="layui-input-inline">
									<input type="password" name="repassword" lay-verify="required|repass" lay-verType="tips" autocomplete="off" class="layui-input">
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-input-block">
									<button class="layui-btn" lay-submit lay-filter="setmypass">确认修改</button>
								</div>
							</div>
						</div>
						<div class="layui-input-inline">
							<label class="layui-form-label"></label>
							<div class="layui-form-mid layui-word-aux">
								<p>1. 密码必须8到16位，且不能出现空格</p>
								<p>2. 建议每周或者每月更改一次密码</p>
								<p>3. 密码组合必须不低于三种方式（大写英文+小写英文+数字+特殊符号）</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<script>
	layui.use(['admin', 'table'], function() {
		form = layui.form;
		var $ = layui.$;
		view = layui.view;
		admin = layui.admin;

		//自定义验证
		form.verify({
			pass: [
					/^[\S]{8,16}$/, '密码必须8到16位，且不能出现空格'
				]
				//确认密码
				,
			repass: function(value) {
				if(value !== $('#LAY_password').val()) {
					return '两次密码输入不一致';
				}
			},
			rePassLength: function(value) {
				//var pwdRegex = /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$).{6,}$/;
				var pwdRegex=/^(?=.*\d)(?=.*[a-zA-Z])(?=.*[~!@#$%^&,.?\|/<>-_+=*])[\da-zA-Z~!@#$%^&,.?\|/<>-_+=*]{8,}$/;
				if(!pwdRegex.test(value)) {
					return "您的密码复杂度太低（密码中必须包含字母、数字,特殊字符）";
				}
				var arr = value.match(/(.)\1*/g);
				for (let i = 0; i < arr.length; i++) {
					if (arr[i].length>=3) {
						return "密码包含3个或以上相同字符("+arr[i]+")";
					}	
				}
				if(/^[^\u4e00-\u9fa5]{8,16}$/.test(value) == false) {
					return "不能输入汉字";
				}
			}
		});

		//设置密码
		form.on('submit(setmypass)', function(obj) {
			//layer.msg(JSON.stringify(obj.field));
			var field = obj.field;
			field.oldPass = escape(field.oldPass);
			field.newPass = escape(field.newPass);
			field.repassword = escape(field.repassword);
			//提交修改
			admin.req({
				type:"post",
				url: layui.setter.configUrl + 'passwd/edit',
				data: field,
				success: function(obj) {
					if(obj.data > 0) {
						layer.msg("修改成功,正在跳转登录页", {
							icon: 1
						});
						location.hash = search.redirect ? decodeURIComponent(search.redirect) : '/user/login';
					}else if (obj.data == '-100') {
						layer.msg(obj.msg, {icon: 2,time: 6000});
					} else {
						layer.msg("修改失败,请重试",{icon:2});
					}

				}
			});

			return false;
		});

	});
</script>