<div class="layui-form" lay-filter="layuiadmin-form-record-zip" style="padding: 20px 0 0 0;">
    
	<div class="layui-form-item">
		<label class="layui-form-label">压缩包名称:</label>
		<div class="layui-input-inline">
			<input type="text" id="zipNname" name="zipNname" lay-verify="required" autocomplete="off"
				placeholder="" class="layui-input">
		</div>

	</div>
    <div class="layui-form-item" style="display: none;">
		<label class="layui-form-label"></label>
		<div class="layui-input-inline">
			<input type="button" id="record-zip" lay-submit lay-filter="LAY-user-front-record-zip-submit" value="提交" class="layui-btn">
		</div>
	</div>
</div>