<div class="layui-form" lay-filter="layuiadmin-form-label" style="padding: 0px 0 0 0;">

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">标签组:</label>
			<div class="layui-input-inline">
				<!-- <input type="text" id="text" name="text" autocomplete="off" placeholder="请输入" class="layui-input"> -->
				<input name="text" placeholder="选择或输入标签组" style="width: 250px;" lay-verify="required" autocomplete="off" class="layui-input" id="text"> 
			</div>
			<input type="button" id="agent-label" style="display: none;" lay-submit lay-filter="LAY-label-front-submit" value="提交" class="layui-btn">

		</div>
	</div>

	

</div>
<style>
	.layui-layer-content {
		overflow: visible !important;
	}
</style>
