<div class="layui-form" lay-filter="layuiadmin-form-agentnameupdate" style="padding: 0px 0 0 0;">
	
	
	
	<div class="layui-form-item" style="display: none;">
		<label class="layui-form-label">id:</label>
		<div class="layui-input-inline">
			<input type="text" name="id"  autocomplete="off" placeholder="请输入" class="layui-input">
		</div>
	</div>
	
	<div class="layui-form-item" >
		<label class="layui-form-label">姓名:</label>
		<div class="layui-input-inline">
			<input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入用户名" class="layui-input">
		</div>
		<input type="button" style="display: none;" id="agent-nameupdate" lay-submit lay-filter="LAY-agentnameupdate-front-submit" value="提交" class="layui-btn">
	</div>

	
</div>