<div class="layui-form" lay-filter="layuiadmin-form-cust-info-transfer" style="padding: 0px 0 0 0;">
	<div class="layui-form-item" style="margin-top: 20px;margin-left: 20px;">
		<label class="layui-form-label">请选择:</label>
		<div class="layui-inline">
			<select name="modules" lay-verify="required" lay-search="">
				<option value=""></option>
				<option value="0">李一一</option>
				<option value="1">李二二</option>
				<option value="2">李三三</option>
				<option value="3">李四四</option>
				<option value="4">李五五</option>
			</select>
		</div>
	</div>
	
	<div class="layui-form-item" style="margin-top: 30px;">
		<label class="layui-form-label"></label>
		<div class="layui-input-inline" style="width: 80px;">
			<input type="button" id="LAY-user-front-cust-info-transfer-submit" lay-submit lay-filter="LAY-user-front-cust-info-transfer-submit" value="确认" class="layui-btn">
		</div>
</div>